@import '../shared/mixin.scss';

section {
    @include dFlex($justify: left, $gap: 16px);
    background-color: rgb(183, 180, 176);
    width: 300px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    >img {
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 100%;
    }

    >span {
        font-size: 32px;
    }
}

.player-active {
    background-color: orange;
}